@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  /*background-image: url(/img/node.png);*/
  /*background-size: cover;*/
}



td {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 2px solid black;
}

.photo {
  background-size: cover;
}
